<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mariadb://URL:PORT/DATABASE</property>
		<property name="hibernate.connection.username">USERNAME</property>
		<property name="hibernate.connection.password">PASSWORD</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.pool_size">5</property>
		<property name="connection.autocommit">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>

		<property name="hibernate.connection.autoReconnect">true</property>
		<property name="hibernate.connection.autoReconnectForPools">true</property>
		<property name="hibernate.connection.is-connection-validation-required">true</property>

		<mapping class="de.teddy.bansystem.tables.BansystemPlayer"/>
		<mapping class="de.teddy.bansystem.tables.BansystemPunishment"/>
		<mapping class="de.teddy.bansystem.tables.BansystemReasons"/>
		<mapping class="de.teddy.bansystem.tables.BansystemToken"/>
		<mapping class="de.teddy.bansystem.tables.BansystemWhitelist"/>

	</session-factory>
</hibernate-configuration>